@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	display: flex;
	flex-wrap: wrap;
	/* 1 = flex-grow – Habilidade de um flex item crescer. */
	/* 1 = flex-shrink - Capacidade de redução do item.    */
	/* 100vw = flex-basis – Tamanho inicial do item.       */
	flex: 1 1 100vw;
	margin: 0; 	/* Margem de todos os lados. */
}

/* Formatação comum entre os elementos. */
header, nav, main, aside, footer {
	display: flex;
	margin: 0;	/* Margem externa de todos os lados. */
  font-family: Century Gothic;
  background: #1A3D81;
  
}

header {
  z-index: 8;
	height: 100px;
	flex: 1 1 100vw;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.449);
}

header #logo {
	display: flex;
	flex: 0 1 120px;
	justify-content: center;
	align-items: center;
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	/* Margem ao redor do elemento              */
	/* (superior, direito, inferior e esquerdo) */
	padding: 0px 5px 0px 5px;
	/* Muda o cursor do mouse para ponteiro.*/
	cursor: pointer;
	display: none;
}

.MenuCentral {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 40px;
  background-size: cover; 
  backdrop-filter: blur(10px); /* Ajuste o valor de desfoque conforme necessário */
  background-color: rgba(179, 199, 221, 0.5); /* Cor de fundo semitransparente */
  box-shadow: 0px 0px 60px rgba(2, 2, 2, 0.705);
}

nav {
  background: #1A3D81;
	justify-content: flex-end;
	align-items: center;
	flex: 1 1 200px;
  font-weight: bold;
  color: azure;
}
.Menu {
  display: flex;
	flex: 1 1 50%;
}
/* Estilo da barra de pesquisa */
.Pesquisa {
  display: flex;
	flex: 1 1 120px;
}
.search-bar {
  display: flex;
}

.search-input {
  width: 200px; /* Largura da barra de pesquisa */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-button img {
  width: 30px; /* Largura da imagem */
  height: 30px; /* Altura da imagem */
  border: none;
  cursor: pointer;
}

.search-button:hover {
  width: 35px;
}

.search-button {
  margin-left: 10px;
  background: transparent;
  border: none;
}

nav a {
	margin: 0 3%;
	font-size: 15pt;
}

nav a:hover {
  color: yellow;
}

nav a:focus {
  font-size: 15.5pt;
}

nav img {
  width: 0;
}

main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
	/* Realizar a subtração de 100% da altura vertical menos a soma    */
	/* da altura dos elementos ( 400px ) com as suas margens ( 36px ). */
	height: calc(100vh - 180px);
	flex: 20 1 500px;
}

#liberdade {
  width: 100%; /* A imagem ocupa 100% da largura da div pai */
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}
aside {
	flex: 1 1 200px;
  background: #0b1222;
}

aside .iconFuncoes {
  align-items: center;
  margin: 0;
  padding: 20%;
  padding-top: 0;
}

aside img {
  width: 70px;
  padding: 0;
}

aside img:hover {
  width: 75px;
  padding: 0;
}

aside .Pontos {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e0fbfc;
  border-radius: 20px;
  height: 23%;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
aside .Publico {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e0fbfc;
  border-radius: 20px;
  height: 23%;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
aside .P-Historico {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e0fbfc;
  border-radius: 20px;
  height: 23%;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
aside .Alimentacao {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e0fbfc;
  border-radius: 20px;
  height: 23%;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

aside p {
  font-size: 10pt;
  font-weight: bold;
}

footer {
	height: 80px;
	flex: 1 1 100vw;
  background: #1A3D81;
} 
.Una {
  position: relative;
	justify-content: center;
	align-items: center;
  flex: 1 1 200px;
}
.Una img {
  width: 100px;
}
.Redes {
  justify-content: center;
  align-items: center; 
  margin: 0;
}
.Redes a {
  margin: 15px;
}
.Redes img {
  margin: 5px;
}
.Redes img:hover {
  padding-bottom: 10px;
}
a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: flex;
    align-items: center;
    width: 50px;
	}

	#openMenu {
		margin-left: auto;
	}
  #openMenu:hover {
    color: #e0fbfc;
  }

	#closeMenu {
    display: flex;
		position: absolute;
		right: 0;
		top: 30px;
	}

	header {
		order: 0;
	}

	nav {
		/* Ordem da visualização dos elementos. */
		order: 1;
		position: fixed;
    z-index: 9;
		width: 70vw;
		height: 100vh;
    background-size: cover; 
    backdrop-filter: blur(10px); /* Ajuste o valor de desfoque conforme necessário */
    background-color: rgba(179, 199, 221, 0.842); /* Cor de fundo semitransparente */
    box-shadow: 0px 0px 60px rgba(2, 2, 2, 0.74);
		/* Dispõe os itens em coluna. */
		flex-direction: column;
		align-items: center;
		/* Alinha os itens na vertical. */
		justify-content: center;
		margin: 0;
		/* Oculta o elemento. */
		display: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    transition: 0.5s;
	}

	nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    color: #000000;
    font-size: 5vh;
    font-size: 3vh;
	}

  nav a:hover {
    color: #0eb124;
  }

  .Menu {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 50px;
  }

  /* Retirei a barra de pesquisa pois nao consegui mover ele para o Header */
  .Pesquisa {
    display: none;
  }

  nav img {
    padding-top: 4px;
    float: left;
    width: 30px;
    margin: 10px;
  }

	main {
		order: 2;
		/* Realizar a subtração de 100% da altura vertical menos a soma    */
		/* da altura dos elementos ( 300px ) com as suas margens ( 30px ). */
		height: calc(100vh - 240px);
	}
  .MenuCentral {
    position: absolute;
    width: 90%;
    height: 60%;
    border-radius: 40px;
    background-size: cover; 
    backdrop-filter: blur(10px); /* Ajuste o valor de desfoque conforme necessário */
    background-color: rgba(179, 199, 221, 0.5); /* Cor de fundo semitransparente */
    box-shadow: 0px 0px 60px rgba(2, 2, 2, 0.705);
  }

	aside {
		/* Ordem da visualização dos elementos. */
    overflow-x: auto;
		order: 4;
		height: 110px;
    width: 100%;
    padding-top: 7%;
    padding-right: 70%;
	}

  aside img {
    width: 50px;
    margin-left: -25px;
  }

  aside p {
    margin: 5px;
  }

  aside .iconFuncoes {
    display: flex; /* Tornar o elemento um contêiner flex */
    flex-direction: column;
    justify-content: center; 
    margin-top: 0;
  }

  aside .Pontos, aside .Publico, aside .P-Historico, aside .Alimentacao {
    background: #e0fbfc;
    border-radius: 20px;
    padding: 36px 30px 35px 35px;
    cursor: pointer;
  }

  .Alimentacao img {
    padding: -10px;
  }

  aside img:hover {
    width: 55px;
    padding: 0;
  }
  
	footer {
    background: #000000;
    height: 30px;
		order: 1;
	}
  .Una {
    position: relative;
    justify-content: center;
    align-items: center;
    flex: 1 1 120px;
  }
  .Una img {
    width: 70px;
  }
  .Redes {
    justify-content: center;
    align-items: center; 
    margin: 0;
  }
  .Redes a {
    margin-top: 3px;
  }
  .Redes img {
    width: 18px;
  }
  .Redes img:hover {
    padding-bottom: 0px;
  }
  ::-webkit-scrollbar {
    height: 10px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background: none; /* fundo da faixa */
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(2, 170, 78, 0.884); /* Cor do polegar */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 204, 115);/* Cor do polegar ao passar o mouse */
  }
}